<!DOCTYPE html> 
    <html lang="en"> 
        <head> 
            <meta charset="UTF-8"> 
            <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
            <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
            <title>Document</title>
            <style>
                table{
                   border-top-color: aqua;
                   border-top-width: 10px; 
                }

                .alert {
                    background-color: aqua;
                    height: 50px;
                }
            </style>
        </head> 
        <body> 
            {% for item in sectoins['sectoins'] %} 
            <table> 
                <tr> 
                    <th>{{item['name']}}</th> 
                    {% for topic in topics['topics'] %} 
                    <a href={{topic['way']}}><th>{{topic['name']}}</th></a> 
                    {% endfor %}
                </tr> 
            </table> 
            {% endfor %}
            <div class="alert alert-primary" role="alert">
                <img, scr='#', title='VK', alt='VK', width="40", height="40">
            </div>
        </body> 
    </html>
