{% extends "base.html" %}

{% block content %}


<table class="tborder" cellpadding="5" cellspacing="1" border="0" width="100%" align="center" id="threadslist">
    <tr>
        <td class="tcat" colspan="7"><h1>{{section}}</h1></td>
        <td class="tcat" colspan="7">
            <button type="button" class="btn btn-warning"><a href="/add_topic">Создать тему.</a></button>
        </td>
    </tr>
    <tr>

        <td class="thead">&nbsp;</td>

        <td class="thead" width="75%">Темы</td>
        <td class="thead" align="center" nowrap="nowrap">Дата создания</td>
        <td class="thead" align="center" nowrap="nowrap">Ответов</td>
        <td class="thead" align="center" nowrap="nowrap">Просмотров</td>


    </tr>
    {%for i in topics%}
    <tr id="vbpostrow_">
        <td class="alt1" id="td_threadstatusicon_2413170">
            <img src="//cyberstatic.net/images/statusicon/thread_new.gif" id="thread_statusicon_2413170" alt=""
                 border=""/>
        </td>
        <td class="alt1" id="td_threadtitle_2413170">
            <div>
				<span style="float:right">
					 <img class="inlineimg" src="//cyberstatic.net/images/misc/tag.png"
                          alt="bootstrap, javascript, laravel, php"/>
				</span>
                <a href={{"/section/"+sec+"/"+str(i[0])}} id="thread_title_2413170"
                   style="font-weight:bold">{{i[2]}}</a>
            </div>
            <div class="smallfont" style="margin: 5px 0px 0px 40px">{{i[3][:100]+"..."}}
            </div>
            <div class="smallfont" style="margin: 0px 0px 0px 40px">
                {{"Автор: "+i[4]}}
            </div>
        </td>
        <td class="alt2" title="Ответов: 10, просмотров: 1,038">
            <div class="smallfont" style="text-align:right; white-space:nowrap">
                {{i[5]}}
            </div>
        </td>
        <td class="alt1" align="center"><a target="_blank"
                                           href="http://www.cyberforum.ru/threadposts2409373.html">{{i[6]}}</a></td>
        <td class="alt2" align="center">{{i[7]}}</td>

    </tr>
    {%endfor%}
</table>
{% endblock %}