{% extends "base.html" %}

{% block content %}




			<table width="90%" align="left" border="solid">
				<tr>
					<th width="20%">автор</th>
					<th>сообщение</th>
				</tr>
				{%for i in messages%}
				<tr>
					<td>
						user: {{i[0]}}
						<br>
						date: {{i[3]}}
					</td>
					<td>
						{{i[2]}}
					</td>
				</tr>
				{%endfor%}
			</table>
			<form method="post">
				<textarea name="message" rows="8"></textarea><br>
				<button type="submit">послать</button>
			</form>










{% endblock %}